body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  max-width: 1440px;
}

/* TEXTES */
* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.booking-title {
  font-weight: 700;
  font-size: 24px;
}

.booking-p {
  font-weight: 300;
  font-size: 18px;
}

.btn-explorer {
  font-weight: 500;
  font-size: 16px;
  color: white;
}

.location-input {
  font-weight: 500;
  font-size: 16px;
  color: #353535;
  border: none;
}

.fonctionnement-step-text {
  font-weight: 500;
  font-size: 16px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
}

h3 {
  font-weight: 700;
  font-size: 18px;
}

.restaurant-section-title {
  font-weight: 700;
  font-size: 24px;
}

.restaurant-card-text {
  font-weight: 300;
  font-size: 17px;
}

a {
  text-decoration: none;
  color: inherit;
}

.footer-link {
  font-weight: 500;
}

.restaurant-new-card {
  font-size: 14px;
  font-weight: 500;
}

.logo {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: white;
  justify-content: center;
}

.loader-screen {
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: #9356DC;
  animation: fadeOut 2s linear 2s forwards;
}
.loader-screen img {
  height: 120%;
}
.loader-screen i {
  font-size: 40px;
  margin: 40px 10px;
  background-clip: text;
}
.loader-screen .anim1 {
  color: #99E2D0;
  animation: flash 1.2s 0.45s linear infinite;
}
.loader-screen .anim2 {
  color: #FF79DA;
  animation: flash 1.2s linear infinite;
}
.loader-screen .anim3 {
  color: black;
  animation: flash 1.2s linear infinite;
}

@keyframes flash {
  0% {
    text-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  }
  90% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.btn-explorer {
  background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 25px;
  border: none;
  cursor: pointer;
  width: 218px;
  height: 50px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.btn-explorer:hover {
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.623);
  transform: scale(1.01);
  opacity: 0.9;
}

.btn-favorite {
  position: absolute;
  top: 200px;
  right: 45px;
}
.btn-favorite i {
  position: absolute;
  font-size: 1.3rem;
  cursor: pointer;
}
.btn-favorite .fa-solid {
  opacity: 0;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
}
.btn-favorite .fa-solid:hover {
  opacity: 1;
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
}
footer .logo {
  display: flex;
  flex-direction: column;
}
footer .footer-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 7px;
  color: white;
}
footer .footer-list .footer-link i {
  margin-right: 10px;
}

/* HEADER */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  height: 63px;
}

.logo-header {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 44px;
}

.booking-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #EAEAEA;
  height: 50px;
  gap: 17px;
  box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}

.location-input {
  display: inline-block;
  text-align: center;
  width: 109px;
  font-weight: 500;
  border: none;
  background: #EAEAEA;
}

.booking-reservation {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.booking-reservation h1 {
  padding: 20px 17px 17px 17px;
  text-align: center;
  margin: 0;
}
.booking-reservation p {
  text-align: center;
  padding: 0px 25px 0px 25px;
  margin-top: 0;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 0 20px 30px 20px;
  margin: 30px 0 30px 0;
}

.fonctionnement-step-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px;
  padding: 20px 20px 50px 10px;
}

.fonctionnement-step {
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  gap: 20px;
  background: #F6F6F6;
  border-radius: 20px;
}
.fonctionnement-step .fa-store {
  color: #9356DC;
}

.fonctionnement-step-number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  margin-left: -10px;
  width: 24px;
  height: 24px;
}

/* RESTAURANT SECTION */
.restaurant-section {
  background-color: #F6F6F6;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.restaurant-section .restaurant-selection {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.restaurant-section .restaurant-card {
  cursor: pointer;
  position: relative;
  height: 231px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: white;
  border-radius: 15px;
}
.restaurant-section .restaurant-card a {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 275px;
}
.restaurant-section .restaurant-card img {
  height: 75%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurant-section .restaurant-card span {
  position: absolute;
  right: 10px;
  top: 20px;
  font-weight: bold;
  background-color: #99E2D0;
  color: green;
  padding: 0.5rem;
  width: 65px;
  border-radius: 2px;
}
.restaurant-section .restaurant-card-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
}
.restaurant-section .description h3, .restaurant-section .description p {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
