body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  max-width: 1440px;
}

/* TEXTES */
* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.booking-title {
  font-weight: 700;
  font-size: 24px;
}

.booking-p {
  font-weight: 300;
  font-size: 18px;
}

.purple-button {
  font-weight: 500;
  font-size: 16px;
  color: white;
}

.logo-header {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 30px;
  font-style: italic;
}

.menu-title {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 28px;
  font-style: italic;
}

.entree-title {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 15px;
}

.plats-title {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 15px;
}

.dessert-title {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 15px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.entree p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15.04px;
}

.plats-title h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.plats p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15.04px;
}

.dessert-title h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.dessert p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15.04px;
}

.price p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15.04px;
}

.location-input {
  font-weight: 500;
  font-size: 16px;
  color: #353535;
  border: none;
}

.fonctionnement-step-text {
  font-weight: 500;
  font-size: 16px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
}

h3 {
  font-weight: 700;
  font-size: 18px;
}

.restaurant-section-title {
  font-weight: 700;
  font-size: 24px;
}

.restaurant-card-text {
  font-weight: 300;
  font-size: 17px;
}

a {
  text-decoration: none;
  color: inherit;
}

.footer-link {
  font-weight: 500;
}

.restaurant-new-card {
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.logo-footer {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: white;
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes menu-step {
  0% {
    transform: translateX(15rem);
  }
  0% {
    opacity: 0;
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.purple-button {
  background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 25px;
  border: none;
  cursor: pointer;
  width: 218px;
  height: 50px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.purple-button:hover {
  transform: scale(1.01);
  opacity: 0.9;
}

.btn-favorite {
  position: absolute;
  top: 200px;
  right: 45px;
}
.btn-favorite i {
  position: absolute;
  font-size: 18px;
  cursor: pointer;
}
.btn-favorite .fa-solid {
  opacity: 0;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
}
.btn-favorite .fa-solid:hover {
  opacity: 1;
}

.like {
  position: absolute;
  top: 30px;
  left: 320px;
}
.like i {
  position: absolute;
  font-size: 25px;
  cursor: pointer;
}
.like .fa-solid {
  opacity: 0;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
}
.like .fa-solid:hover {
  opacity: 1;
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
}
footer .logo-footer {
  display: flex;
  flex-direction: column;
}
footer .footer-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 7px;
  color: white;
}
footer .footer-list .footer-link i {
  margin-right: 10px;
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes menu-step {
  0% {
    transform: translateX(15rem);
  }
  0% {
    opacity: 0;
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #99E2D0;
  animation: loader 0.01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader-item {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  animation: jump 1s;
  animation-iteration-count: 1;
}
.loader-item-container {
  display: flex;
  width: 5rem;
  justify-content: space-between;
}
.loader-item-1 {
  background-color: #9356DC;
}
.loader-item-2 {
  background-color: #FF79DA;
  animation-delay: 0.25s;
}
.loader-item-3 {
  background-color: #F6F6F6;
  animation-delay: 0.5s;
}

/* HEADER */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  height: 63px;
}

.logo-header {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 44px;
}

.fa-arrow-left {
  position: absolute;
  top: 17px;
  left: 17px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #353535;
}

.booking-form {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  width: 100%;
  background-color: #EAEAEA;
  height: 50px;
  gap: 17px;
  box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}

.location-input {
  display: inline-block;
  text-align: center;
  width: 109px;
  font-weight: 500;
  border: none;
  background: #EAEAEA;
}

.booking-reservation {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.booking-reservation h2 {
  padding: 20px 17px 17px 17px;
  text-align: center;
  margin: 0;
}
.booking-reservation p {
  text-align: center;
  padding: 0px 25px 0px 25px;
  margin-top: 0;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 0 20px 30px 20px;
  margin: 30px 0 30px 0;
}

.fonctionnement-step-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px;
  padding: 20px 20px 50px 10px;
}

.fonctionnement-step {
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  gap: 20px;
  background: #F6F6F6;
  border-radius: 20px;
}
.fonctionnement-step .fa-store {
  color: #9356DC;
}

.fonctionnement-step-number {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  margin-left: -10px;
  width: 24px;
  height: 24px;
}

/* RESTAURANT SECTION */
.restaurant-section {
  background-color: #F6F6F6;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.restaurant-section .restaurant-selection {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.restaurant-section .restaurant-card {
  cursor: pointer;
  position: relative;
  height: 231px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: white;
  border-radius: 15px;
}
.restaurant-section .restaurant-card a {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 275px;
}
.restaurant-section .restaurant-card img {
  height: 75%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurant-section .restaurant-card span {
  position: absolute;
  right: 10px;
  top: 20px;
  font-weight: bold;
  background-color: #99E2D0;
  color: green;
  padding: 0.5rem;
  width: 65px;
  border-radius: 2px;
}
.restaurant-section .restaurant-card-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
}
.restaurant-section .description h3, .restaurant-section .description p {
  margin: 0;
}

.accueil img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.entree-section, .plats-section, .dessert-section {
  padding: 15px 15px 15px;
  background: #F6F6F6;
}

.entree-section {
  animation: menu-step 0.75s 1s forwards;
}

.plats-section {
  animation: menu-step 0.75s 1.5s forwards;
}

.dessert-section {
  animation: menu-step 0.75s 2s forwards;
}

.menu-restaurant {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #F6F6F6;
  border-radius: 25px 25px 0 0;
  padding: 0 15px;
  margin-top: -50px;
}

.line {
  padding: 10px 20px 20px;
  border-top: solid 3px #99E2D0;
  margin-left: 15px;
}

.entree, .plats, .dessert {
  padding: 15px 0;
  width: 65%;
}

.entree-card, .plats-card, .dessert-card {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  background: white;
  border-radius: 15px;
  margin-bottom: 15px;
  overflow: hidden;
}
.entree-card p, .entree-card h4, .plats-card p, .plats-card h4, .dessert-card p, .dessert-card h4 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.entree-card:hover .checkout, .plats-card:hover .checkout, .dessert-card:hover .checkout {
  transform: translateX(0px);
  overflow: hidden;
}
.entree-card:hover .plats, .plats-card:hover .plats, .dessert-card:hover .plats {
  width: 65%;
}
.entree-card .checkout, .plats-card .checkout, .dessert-card .checkout {
  display: flex;
  align-items: center;
  transition: all 0.4s ease-out;
  transform: translateX(60px);
}

.fa-circle-check {
  opacity: 1;
  font-size: 20px;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  padding: 26px 20px;
  color: white;
  margin-left: 15px;
}

.btn-commande {
  display: flex;
  justify-content: center;
  background-color: #F6F6F6;
  padding: 30px;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  max-width: 2200px;
}

@media (min-width: 768px) {
  .fonctionnement-step-container {
    display: grid;
    gap: 15px 30px;
    grid-template-columns: repeat(3, 25%);
    justify-content: center;
  }
  .restaurant-section {
    display: grid;
    justify-content: center;
  }
  .restaurant-section .restaurant-selection {
    display: grid;
    grid-template-columns: 350px 350px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
  }
  .footer-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }
}
@media (min-width: 1024px) {
  .booking-title {
    font-size: 40px;
    font-weight: 700;
  }
  .fonctionnement-title {
    margin: 50px;
  }
  .fonctionnement {
    background: white;
  }
  .fonctionnement-step-container {
    display: grid;
    gap: 15px 30px;
    grid-template-columns: repeat(3, 25%);
    justify-content: center;
  }
  .restaurant-section {
    display: grid;
    justify-content: center;
  }
  .restaurant-section .restaurant-selection {
    display: grid;
    grid-template-columns: 490px 490px;
    width: 100%;
    grid-row: auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  }
  .restaurant-section footer {
    display: flex;
    flex-direction: row;
  }
  .restaurant-section .footer-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }
  .restaurant-section .accueil {
    display: flex;
    justify-content: center;
    padding: 180px 180px;
  }
}

/*# sourceMappingURL=style.css.map */
