/* HEADER */

header {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    background: white;
    height: 63px;
}

.logo-header {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 44px;   
}

.fa-arrow-left {
    position: absolute;
    top: 17px;
    left: 17px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: #353535;
}