@import '../utils/variables';
@import '../utils/mixins';

// LOADER SCREEN //

.loader-screen {
    @include flexCenter;
    @include column;
    align-items: center;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-size: cover;
    background-color: $primary-color;
    animation: fadeOut 2s linear 1s forwards;
}
    img {
        height: 100%;
    }


@keyframes flash {
    0%  {
      
        text-shadow: $box-shadow;

    }
    90% {
    
        text-shadow: none;
    }
    100% {
     
        text-shadow: $box-shadow;
    }
}

@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    99% {
      width: 100vw;
      height: 100vw;
    }
    100% {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

