@import '../utils/variables';

.btn-explorer {
    background: $gradient-color;
    border-radius: 25px;
    border: none;
    width: 218px;
    height: 50px;
    transition: all .3s ease ;
    box-shadow: $box-shadow;
}

.btn-favorite__regular-heart {
    display: flex;
    align-items: center ;
}