/* TEXTES */

* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.booking-title {
    font-weight: 700;
    font-size: 24px;
}

.booking-p {
    font-weight: 300;
    font-size: 18px;
}


.purple-button {
    font-weight: 500;
    font-size: 16px;
    color: white;
}

.logo-header  {
    font-family: 'Shrikhand', sans-serif;
    font-weight: 400;
    font-size: 30px;
    font-style: italic;
}

.menu-title {
    font-family: 'Shrikhand', sans-serif;
    font-weight: 400;
    font-size: 28px;
    font-style: italic;
}

.entree-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase ;
    padding-left: 15px;
}

.plats-title { 
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase ;
    padding-left: 15px;
}

.dessert-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase ;
    padding-left: 15px;
}
h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.entree p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15.04px;
}

.plats-title h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.plats p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15.04px;
}

.dessert-title h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.dessert p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15.04px;
}

.price p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15.04px;
}

.location-input {
    font-weight: 500;
    font-size: 16px;
    color: $footer-bg;
    border: none;
}
.fonctionnement-step-text {
    font-weight: 500;
    font-size: 16px;
}
h2 {
    font-weight: 700;
    font-size: 24px;
}

h3 {
    font-weight: 700;
    font-size: 18px;
}

.restaurant-section-title {
    font-weight: 700;
    font-size: 24px;
}
.restaurant-card-text {
    font-weight: 300;
    font-size: 17px;
}
a {
    text-decoration: none;
    color: inherit;
}
.footer-link {
    font-weight: 500;
}

.restaurant-new-card {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.logo-footer {
    font-family: 'Shrikhand', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
}