@import '../utils/mixins';

.accueil img {
    width: 100%;
    height: 275px;
    object-fit: cover;
}

.entree-section, .plats-section, .dessert-section {
    padding: 15px 15px 15px;
    background: $bg-color;
    
}

.entree-section {
    animation-timing-function: ease-out;
    animation: menu-step .75s 0s forwards;
}

.plats-section {
    animation-timing-function: ease-out;
    animation: menu-step 1.5s 0s forwards;
}

.dessert-section {
    animation: menu-step 2s 0s forwards;
    animation-timing-function: ease-out;
}


.menu-restaurant {
    @include column;
    position: relative;
    background-color: $bg-color;
    border-radius: 25px 25px 0 0;
    padding: 0 15px;
    margin-top: -50px;

}


.line {
    padding: 10px 20px 20px;
    border-top: solid 3px $tertiary-color;
    margin-left: 15px;
    
    
}

.entree, .plats, .dessert {
    padding: 15px 0;
    width: 65%;
    
}

.entree-card, .plats-card, .dessert-card {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    background: white;
    border-radius: 15px;
    margin-bottom: 15px;
    overflow: hidden;

    p, h4{
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
       
    }
    &:hover {
        .checkout {
            transform: translateX(0px);
            overflow: hidden;
        }
        .plats {
            width: 65%;
        }
    }

    .checkout {
        display: flex;
        align-items: center;
        transition: all 0.4s ease-out;
        transform: translateX(60px);
       
       
        
    }
}

.fa-circle-check {
    opacity: 1;
    font-size: 20px;
    background-color: $tertiary-color;
    border-radius: 0 15px 15px 0;
    padding: 26px 20px;
    color: white;
    margin-left: 15px;
        }


.btn-commande {
    display: flex;
    justify-content: center;
    background-color: $bg-color;
    padding: 30px;
}

@media (min-width: $desktop ){
    .accueil img {
        height: 383px;
        object-fit: cover;
        width: 100%;
    }
    .like i {                                        
    position: absolute;
    font-size: 25px;
    cursor: pointer;
    left: 550.5px;
    }
    .sectionContainer {                                                                                                                           
        width: 70%;
        margin-right: auto;
        margin-left: auto;                                                      
        background-color: $bg-color ;
        align-items:center ;
        justify-content: center;
        .menu-restaurant {
          @include flexCenter;
        }
        .entree-section, .plats-section, .dessert-section {
           
            margin:-15px 193px 0 193px;
            padding: 0 100px;
           
        }

        
       
    }


}