
// RESPONSIVE CONFIG //

body {
    margin: 0;
    background-color: $bg-color;
    display: flex;
    justify-content: center;
}

.main {
    width: 100%;
    max-width: 1440px;
}

// MEDIA QUERIES //

@media (min-width: $tablet){

}